{% extends "layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="card-container" align="center">
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1>🗓</h1>
                    <h2>15</h2>
                    <a href="#" style="text-decoration: none;">
                        <h5 class="card-title">New Meetings</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1>🏛</h1>
                    <h2>15</h2>
                    <a href="#" style="text-decoration: none;">
                        <h5 class="card-title">Total Rooms</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1>🔚</h1>
                    <h2>15</h2>
                    <a href="#" style="text-decoration: none;">
                        <h5 class="card-title">Finished Meetings</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of first row -->
    <br>
    <br>

    <!-- 2nd row starts  -->

    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1>🕓</h1>
                    <h2>15</h2>
                    <a href="#" style="text-decoration: none;">
                        <h5 class="card-title">Ongoing Meetings</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1>📅</h1>
                    <h2>15</h2>
                    <a href="#" style="text-decoration: none;">
                        <h5 class="card-title">Today's Meetings</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1>❌</h1>
                    <h2>15</h2>
                    <a href="#" style="text-decoration: none;">
                        <h5 class="card-title">Cancelled Meetings</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}